<script setup lang="ts">
import { ref } from 'vue'

const weight = ref(0)
const height = ref(0)
const result = ref(0)

function calBMI() {
  const m = height.value / 100
  result.value = weight.value / Math.pow(m, 2)
}
</script>

<template>
  <div style="text-align: center; font-size: 30px; margin-top: 3%">
    <label for="title">เครื่องคำนวณหาค่าดัชนีมวลกาย (BMI)</label>
  </div>
  <div style="margin: auto; width: 50%; margin-top: 5%">
    <div>
      <label for="weight">น้ำหนักตัว(kg.)</label>
      <input id="weight" type="text" v-model.number="weight" />
    </div>
    <div>
      <label for="height">ส่วนสูง(cm.)</label>
      <input id="height" type="text" v-model.number="height" />
    </div>

    <button @click="calBMI()">คำนวน</button>
    <div style="text-align: center; font-size: 15pt; margin-top: 50px">BMI</div>
    <div style="text-align: center; font-size: 25pt; margin-top: 15px">{{ result.toFixed(2) }}</div>

    <table>
      <tr>
        <th>BMI kg/m2</th>
        <th>อยู่ในเกณท์</th>
        <th>ภาวะเสี่ยงต่อโรค</th>
      </tr>
      <tr :class="{ activate: result < 18.5 ? true : false }">
        <td>น้อยกว่า 18.50</td>
        <td>น้ำหนักน้อย / ผอม</td>
        <td>มากกว่าคนปกติ</td>
      </tr>
      <tr :class="{ activate: result >= 18.5 && result < 22.9 ? true : false }">
        <td>ระหว่าง 18.50 - 22.90</td>
        <td>ปกติ (สุขภาพดี)</td>
        <td>เท่าคนปกติ</td>
      </tr>
      <tr :class="{ activate: result >= 23 && result < 24.9 ? true : false }">
        <td>ระหว่าง 23 - 24.90</td>
        <td>ท้วม / โรคอ้วนระดับ 1</td>
        <td>อันตรายระดับ 1</td>
      </tr>
      <tr :class="{ activate: result >= 25 && result < 29.9 ? true : false }">
        <td>ระหว่าง 25 - 29.90</td>
        <td>อ้วน / โรคอ้วนระดับ 2</td>
        <td>อันตรายระดับ 2</td>
      </tr>
      <tr :class="{ activate: result > 30 ? true : false }">
        <td>มากกว่า 30</td>
        <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
        <td>อันตรายระดับ 3</td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.activate {
  background-color: rgb(152, 150, 240);
}
input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: 20px;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid;
  margin-top: 30px;
}
table {
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
</style>